body {
	width: 100%;
	background-color: #F5F3EE;
}
#content {
	width: 80%;
	margin: 0 auto;
}
.login-form {
	width: 35%;
	margin: 0 auto;
}
.register-form {
	width: 35%;
	margin: 0 auto;
}
.search-form {
	width: 35%;
	margin: 0 auto;
}
.profile-form {
	width: 35%;
	margin: 0 auto;
}
.job-form {
	width:35%;
	margin: 0 auto;
}
.btn-submit {
	width: 30%;
	margin-left: 35%;
}

#search-results{
	margin: 10px;
}
#application-results{
	margin: 10px;
}
.welcome {
	font-size: 40pt;
	position: relative;  	
  	text-align: center;
  	width: 100%;
  	margin-top: 20%;
  	color: black;
  	top: 15%;
  	-webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
}