body {
	width: 100%;
}
#content {
	width: 80%;
	margin: 0 auto;
}
.login-form {
	width: 35%;
	margin: 0 auto;
}
.register-form {
	width: 35%;
	margin: 0 auto;
}
.search-form {
	width: 35%;
	margin: 0 auto;
}
.btn-submit {
	width: 20%;
	margin-left: 40%;
}
#search-results{
	margin: 10px;
}