<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FoundITAppServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobAlertServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.JobAlertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobAlertServlet</servlet-name>
    <url-pattern>/jobalert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchJobsServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.SearchJobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobsServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchJobsServlet</servlet-name>
    <url-pattern>/search.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CandidateProfileServlet</servlet-name>
    <servlet-class>au.edu.soacourse.process.CandidateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateProfileServlet</servlet-name>
    <url-pattern>/profile.action</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>DBPath</param-name>
    <param-value>${catalina.base}/webapps/FoundIT/FoundITApp/DB/</param-value>
  </context-param>
  <context-param>
    <param-name>RestfulURL</param-name>
    <param-value>http://localhost:8080/FoundITServerCxfRest/</param-value>
  </context-param>
</web-app>